
.text-center{
  width: 98%;
}
#taskList {
  width: 65%;
  margin: 0 auto;
  text-align: left;
  display: flex;
}
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.current-page a {
  font-weight: bold;
}
.col-6{
  font-size: 16px;
  padding: 15px;
  border-bottom:1px solid #654f4f;;
}
.btn{
  margin-top: 15px;
}
.col-1 {
  padding: 18px;
}
.navbar-brand{
  font-size: 32px;
}