body{
   max-width: 100%;
 }
 *{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
 }
 .current-page a {
   font-weight: bold;
 }
 .btn{
   margin-top: 10px;
   margin-bottom: 5px;
 }
 
 .navbar-brand{
   font-size: 24px;
 }
 #taskListDay{
  align-items: center;
  line-height: 2.4;
 }
 #taskListDay2{
  align-items: center;
  line-height: 2.4;
 }
 #taskListnight{
  align-items: center;
  line-height: 2.4;
 }
 #taskListnight2{
  align-items: center;
  line-height: 2.4;
 }
 .zadanie{
  text-align: center;
  border-bottom:1px solid #654f4f;;
 }